/*Colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");
/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #EEE;
}

/*Estilos de encabezado*/
/* line 11, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado {
  background: #005ac5;
  height: 5rem;
  width: 100%;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo {
  color: #EEE;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 5rem;
  padding-left: 12%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 26, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo.active, .encabezado .encabezadoLogo:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 31, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu {
  float: right;
  margin-right: 1.25rem;
}

/* line 34, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink {
  display: inline-block;
  line-height: 5rem;
  margin: 0 .31rem;
  color: #EEE;
  font-size: 1em;
  font-weight: 500;
  padding: 7px 13px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 48, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink.active, .encabezado .encabezadoMenu .menuLink:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 55, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
#check {
  float: right;
  display: none;
}

/* line 59, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
label #menuMobile {
  font-size: 1.9rem;
  color: #EEE;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 1118px) {
  /* line 68, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    padding-left: 8%;
  }
}

@media (max-width: 944px) {
  /* line 74, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 4%;
  }
  /* line 79, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    margin-right: 0rem;
  }
  /* line 81, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    font-size: 1rem;
    padding: 7px 5px;
  }
}

@media (max-width: 860px) {
  /* line 89, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label {
    float: right;
  }
  /* line 91, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label #menuMobile {
    display: block;
    margin-right: 1rem;
  }
  /* line 96, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    position: fixed;
    width: 100%;
    background: #005ac5;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  /* line 104, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    display: block;
    margin: 3rem 0;
    line-height: 1.9rem;
    font-size: 1.25rem;
  }
  /* line 111, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #check:checked ~ .encabezadoMenu {
    left: 0;
    z-index: 1030;
  }
  /* line 115, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #menuMobile:hover {
    color: #00c2a8;
    transition: .5s;
  }
}

/*Estilos de Pie de pagina*/
/* line 121, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina {
  padding: 2.5rem 0;
  background-color: #ffffff;
}

/* line 124, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes {
  text-align: center;
  padding-bottom: 1.6rem;
}

/* line 127, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes .redesLink {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: #0045a2;
  opacity: 0.75;
}

/* line 137, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes .redesLink:hover {
  color: #00c2a8;
  opacity: 0.9;
}

/* line 143, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

/* line 150, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu .pieLink {
  padding: 0 10px;
  color: #0045a2;
  text-decoration: none;
  opacity: 0.8;
}

/* line 155, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu .pieLink:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 161, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .copyright {
  margin: 1rem 0.5rem;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

@media all and (max-width: 1118px) {
  /* line 170, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noLaptop {
    display: none;
  }
}

@media all and (max-width: 768px) {
  /* line 175, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noTab {
    display: none;
  }
}

@media all and (max-width: 576px) {
  /* line 180, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noMobile {
    display: none;
  }
}

/*especiales*/
/* line 185, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.marginTop {
  margin-top: 7rem;
}

/* line 188, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.marginBottom {
  margin-bottom: 2rem;
}

/*FUENTES DEL SITIO*/
/* line 6, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloPrincipal {
  /*Para los titulos principales*/
  color: #0045a2;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .75rem;
}

/* line 11, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloPrincipal:hover {
  /*Para los titulos principales*/
  color: #00c2a8;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloSecundario {
  /*Para los titulos secundarios*/
  color: #0045a2;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: .50rem;
}

/* line 20, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloSecundario:hover {
  /*Para los titulos secundarios*/
  color: #00c2a8;
}

/* line 24, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.texto {
  /*Para texto en general*/
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .40px;
  margin: 0px 0px 15px 0px;
  line-height: 1.5em;
}

/* line 31, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.botonLeer {
  /*Para los Botones "leer mas"*/
  font-size: 1em;
  font-weight: 300;
  color: #0045a2;
  margin: 0;
}

/* line 36, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.botonLeer:hover {
  color: #00c2a8;
}

@media all and (max-width: 1118px) {
  /* line 41, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloPrincipal {
    /*Para los titulos principales*/
    font-size: 1.75rem;
    margin-bottom: .65rem;
  }
  /* line 45, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloSecundario {
    /*Para los titulos secundarios*/
    font-size: 1.25rem;
    margin-bottom: .40rem;
  }
  /* line 49, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    margin: 0px 0px 10px 0px;
    line-height: 1.25em;
  }
  /* line 53, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .botonLeer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
  }
}

@media all and (max-width: 768px) {
  /* line 60, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal {
    /*Para los titulos principales*/
    color: #0045a2;
    font-size: 1.8rem;
    font-weight: 500;
  }
  /* line 65, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario {
    /*Para los titulos secundarios*/
    color: #0045a2;
    font-size: 1.2rem;
    font-weight: 400;
  }
  /* line 70, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 5px 0px;
    padding: 2px 0px 2px 0px;
    line-height: 1.5em;
  }
  /* line 78, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
    color: #0045a2;
    margin: 2px 0px 2px 10px;
  }
  /* line 83, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:hover {
    text-decoration-line: none;
    color: #00c2a8;
  }
  /* line 87, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:visited {
    color: #003c8f;
  }
}

@media all and (max-width: 576px) {
  /* line 93, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal {
    /*Para los titulos principales*/
    color: #0045a2;
    font-size: 1.8rem;
    font-weight: 500;
  }
  /* line 97, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal:hover {
    /*Para los titulos principales*/
    color: #00c2a8;
  }
  /* line 101, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario {
    /*Para los titulos secundarios*/
    color: #0045a2;
    font-size: 1.2rem;
    font-weight: 400;
  }
  /* line 105, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario:hover {
    /*Para los titulos secundarios*/
    color: #00c2a8;
  }
  /* line 109, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 0px 10px;
    padding: 2px 0px 2px 0px;
    margin: 0px 10px;
    line-height: 1.5em;
  }
  /* line 118, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
    color: #0045a2;
    margin: 2px 0px 2px 10px;
  }
  /* line 123, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:hover {
    text-decoration-line: none;
    color: #00c2a8;
  }
  /* line 127, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:visited {
    color: #003c8f;
  }
}

/*Nota principal*/
/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.50rem;
}

/* line 12, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal::before, .notaPrincipal ::after {
  box-sizing: border-box;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .notaParrafo {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* line 19, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .notaParrafo a {
  text-decoration: none;
}

/*Notas Secundarias*/
/* line 23, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.50rem;
}

/* line 33, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria::before, .notaSecundaria ::after {
  box-sizing: border-box;
}

/* line 36, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria .notaParrafo {
  min-height: 1px;
  padding: 0.25rem 0.5rem;
}

/* line 39, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria .notaParrafo a {
  text-decoration: none;
}

/* line 42, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
img {
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

/*Tarjeta de Tutoriales*/
/* line 49, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

/* line 61, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaCabezera {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #005ac5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .2rem .2rem 0 0;
}

/* line 68, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaTitulo {
  font-size: 1.25rem;
  font-weight: 500;
  color: #EEE;
}

/* line 72, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaTitulo:hover {
  text-decoration: none;
  color: #00c2a8;
}

/* line 74, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaCuerpo {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: .75rem 1.25rem;
}

/* line 80, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaSubtitulo {
  font-size: 1rem;
  font-weight: 400;
  color: #005ac5;
}

/* line 85, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaTexto {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .40px;
}

/* line 90, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaLink {
  font-size: 1rem;
  font-weight: 200;
  color: #0045a2;
  margin: 2px 0px 2px 10px;
}

/* line 95, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaLink:hover {
  text-decoration-line: none;
  color: #00c2a8;
}

/* line 99, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tarjetas .tarjetaLink:visited {
  color: #003c8f;
}

/* line 104, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.botonVerMas {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #0045a2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid #0045a2;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* line 120, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.botonVerMas:hover {
  background-color: #0045a2;
  font-size: 18px;
  font-weight: 500;
  color: #00c2a8;
}

/*CAMBIO A TABLET*/
@media all and (max-width: 768px) {
  /*estilos de noticias*/
  /* line 130, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .cuerpo__principal {
    min-height: 100px;
    margin: auto;
  }
  /*Nota principal*/
  /* line 135, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal {
    height: 50vh;
    margin: auto;
    padding: auto;
    background-image: url("../media/noticia1.jpeg");
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }
  /* line 143, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo {
    margin: 20em auto;
    padding: 1.5em;
    background-color: rgba(240, 240, 240, 0.9);
  }
  /* line 147, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo a {
    text-decoration: none;
  }
  /* line 152, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .separador__nota {
    height: 1em;
    margin: auto;
    border-bottom: 1px solid #00c2a8;
  }
  /*Notas Secundarias*/
  /* line 159, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaSecundaria {
    flex-direction: column;
  }
  /*Tarjeta de Tutoriales*/
  /* line 161, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .tutorial__tarjeta {
    width: 15rem;
    height: auto;
    margin: 1em auto;
    padding: auto;
    position: relative;
    display: flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }
  /* line 175, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final {
    margin: 1em 0em auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
  /* line 181, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--imagen {
    width: 20rem;
    height: 14rem;
  }
  /* line 185, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--texto {
    margin: 0em 1em;
  }
  /* line 187, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--texto a {
    text-decoration: none;
  }
  /* line 192, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .botonVerMas {
    margin: 20px 20px 30px 50px;
    padding: 10px 20px 10px 20px;
    background-color: #EEE;
    border-radius: 25px;
    border-color: #004aad;
    font-size: 18px;
    font-weight: 500;
    color: #004aad;
  }
  /* line 202, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .botonVerMas:hover {
    margin: 20px 20px 30px 50px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(#004aad, #EEE);
    border-radius: 25px;
    border-color: #EEE;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
}

/*CAMBIO A CELULAR*/
@media all and (max-width: 576px) {
  /*estilos de noticias*/
  /* line 216, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .cuerpo__principal {
    min-height: 80px;
    margin: auto;
  }
  /*Nota principal*/
  /* line 221, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal {
    height: 50vh;
    margin: auto;
    padding: auto;
    background-image: url("../media/noticia1.jpeg");
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }
  /* line 229, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo {
    margin: 15em auto;
    padding: 1.5em;
    background-color: rgba(240, 240, 240, 0.9);
  }
  /* line 233, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo a {
    text-decoration: none;
  }
  /* line 238, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .separador__nota {
    height: 1em;
    margin: auto;
    border-bottom: 1px solid #00c2a8;
  }
  /*Notas Secundarias*/
  /* line 245, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias {
    margin: 1em 0em auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
  /* line 251, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--imagen {
    width: 20rem;
    height: 14rem;
  }
  /* line 255, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto {
    margin: 0em 1em;
  }
  /* line 257, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto a {
    text-decoration: none;
  }
}

/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.no--list {
  list-style-type: none;
}

/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
.publicidad {
  background: url("../media/publicidad-lg.png") no-repeat;
  width: 70em;
  height: 3.125em;
  margin: 1em;
  flex-grow: 1;
}

@media all and (max-width: 768px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-md.png") no-repeat;
    width: 46.249em;
    height: 3.125em;
  }
}

@media all and (max-width: 576px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-sm.png") no-repeat;
    width: 35em;
    height: 3.125em;
  }
}

/*# sourceMappingURL=estilos.css.map */