/*Colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");
/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #EEE;
}

/*Estilos de encabezado*/
/* line 11, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado {
  background: #005ac5;
  height: 5rem;
  width: 100%;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo {
  color: #EEE;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 5rem;
  padding-left: 12%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 26, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo.active, .encabezado .encabezadoLogo:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 31, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu {
  float: right;
  margin-right: 1.25rem;
}

/* line 34, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink {
  display: inline-block;
  line-height: 5rem;
  margin: 0 .31rem;
  color: #EEE;
  font-size: 1em;
  font-weight: 500;
  padding: 7px 13px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 48, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink.active, .encabezado .encabezadoMenu .menuLink:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 55, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
#check {
  float: right;
  display: none;
}

/* line 59, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
label #menuMobile {
  font-size: 1.9rem;
  color: #EEE;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 1118px) {
  /* line 68, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    padding-left: 8%;
  }
}

@media (max-width: 944px) {
  /* line 74, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 4%;
  }
  /* line 79, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    margin-right: 0rem;
  }
  /* line 81, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    font-size: 1rem;
    padding: 7px 5px;
  }
}

@media (max-width: 860px) {
  /* line 89, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label {
    float: right;
  }
  /* line 91, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label #menuMobile {
    display: block;
  }
  /* line 95, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    position: fixed;
    width: 100%;
    background: #005ac5;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  /* line 103, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    display: block;
    margin: 3rem 0;
    line-height: 1.9rem;
    font-size: 1.25rem;
  }
  /* line 110, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #check:checked ~ .encabezadoMenu {
    left: 0;
  }
  /* line 112, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #check:checked ~ .encabezadoMenu.active, #check:checked ~ .encabezadoMenu:hover {
    color: #00c2a8;
    transition: .5s;
  }
}

/*Estilos de Pie de pagina*/
/* line 119, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.pie__pagina {
  height: 4vh;
  min-height: 50px;
  padding: 0px 20px 2px 20px;
  background-color: #EEE;
  border-top: 2px solid #bdb5b5;
}

@media all and (max-width: 576px) {
  /* line 119, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .pie__pagina {
    height: 8vh;
    margin: auto;
    padding: auto;
    background-color: #EEE;
  }
}

/* line 133, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.backToTop {
  background-color: #0045a2;
  width: 50px;
  height: 50px;
  padding: auto;
  text-align: center;
  border-radius: 4px;
}

/* line 140, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.backToTop:hover {
  background-color: #00c2a8;
}

/* line 143, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.backToTop .top {
  color: #fff;
  font-size: 40px;
  margin: 5px auto;
}

@media all and (max-width: 576px) {
  /* line 133, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .backToTop {
    background-color: #0045a2;
    width: 35px;
    height: 35px;
    padding: auto;
    text-align: center;
    border-radius: 2px;
  }
  /* line 155, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .backToTop .top {
    color: #fff;
    font-size: 25px;
    margin: 5px auto;
  }
}

@media all and (max-width: 768px) {
  /* line 163, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noTab {
    display: none;
  }
}

@media all and (max-width: 576px) {
  /* line 166, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noMobile {
    display: none;
  }
}

/*FUENTES DEL SITIO*/
/* line 6, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.titulo__principal {
  /*Para los titulos principales*/
  color: #0045a2;
  font-size: 2rem;
  font-weight: 500;
}

/* line 10, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.titulo__principal:hover {
  /*Para los titulos principales*/
  color: #00c2a8;
}

/* line 14, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.titulo__secundario {
  /*Para los titulos secundarios*/
  color: #0045a2;
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 18, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.titulo__secundario:hover {
  /*Para los titulos secundarios*/
  color: #00c2a8;
}

/* line 22, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.texto {
  /*Para texto en general*/
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: .40px;
  margin: 0px 0px 0px 10px;
  padding: 2px 0px 2px 0px;
  margin: 0px 10px;
  line-height: 1.5em;
}

/* line 31, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.boton--leer {
  /*Para los Botones "leer mas"*/
  font-size: 1em;
  font-weight: 300;
  color: #0045a2;
  margin: 2px 0px 2px 10px;
}

/* line 36, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.boton--leer:hover {
  text-decoration-line: none;
  color: #00c2a8;
}

/* line 40, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.boton--leer:visited {
  color: #003c8f;
}

@media all and (max-width: 768px) {
  /* line 45, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal {
    /*Para los titulos principales*/
    color: #0045a2;
    font-size: 1.8rem;
    font-weight: 500;
  }
  /* line 50, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario {
    /*Para los titulos secundarios*/
    color: #0045a2;
    font-size: 1.2rem;
    font-weight: 400;
  }
  /* line 55, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 0px 10px;
    padding: 2px 0px 2px 0px;
    margin: 0px 10px;
    line-height: 1.5em;
  }
  /* line 64, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
    color: #0045a2;
    margin: 2px 0px 2px 10px;
  }
  /* line 69, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:hover {
    text-decoration-line: none;
    color: #00c2a8;
  }
  /* line 73, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:visited {
    color: #003c8f;
  }
}

@media all and (max-width: 576px) {
  /* line 79, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal {
    /*Para los titulos principales*/
    color: #0045a2;
    font-size: 1.8rem;
    font-weight: 500;
  }
  /* line 83, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__principal:hover {
    /*Para los titulos principales*/
    color: #00c2a8;
  }
  /* line 87, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario {
    /*Para los titulos secundarios*/
    color: #0045a2;
    font-size: 1.2rem;
    font-weight: 400;
  }
  /* line 91, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .titulo__secundario:hover {
    /*Para los titulos secundarios*/
    color: #00c2a8;
  }
  /* line 95, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 0px 10px;
    padding: 2px 0px 2px 0px;
    margin: 0px 10px;
    line-height: 1.5em;
  }
  /* line 104, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
    color: #0045a2;
    margin: 2px 0px 2px 10px;
  }
  /* line 109, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:hover {
    text-decoration-line: none;
    color: #00c2a8;
  }
  /* line 113, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .boton--leer:visited {
    color: #003c8f;
  }
}

/*estilos de noticias*/
/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.cuerpo__principal {
  min-height: 100px;
  margin: auto;
}

/*Nota principal*/
/* line 7, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__principal {
  height: 80vh;
  min-height: 550px;
  margin: auto;
  padding: auto;
  background-image: url("../media/noticia1.jpeg");
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

/* line 16, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__principal .nota__parrafo {
  margin: 210px auto;
  padding: 1.5em;
  background-color: rgba(240, 240, 240, 0.9);
}

/* line 22, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.separador__nota {
  margin: auto;
  border-bottom: 1px solid #00c2a8;
}

/*Notas Secundarias*/
/* line 28, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notas__secundarias {
  margin: 1em 0em auto;
  padding: auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

/* line 34, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notas__secundarias--imagen {
  width: 25rem;
  height: 18rem;
}

/* line 38, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notas__secundarias--texto {
  margin: 0em 1em;
}

/* line 40, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notas__secundarias--texto a {
  text-decoration: none;
}

/*Tarjeta de Tutoriales*/
/* line 46, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta {
  width: 15rem;
  height: 20rem;
  margin: 1em auto;
  padding: auto;
  position: relative;
  display: flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #00838f;
  border-radius: .40rem;
}

/* line 63, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--cuerpo {
  min-height: 1px;
  padding: 1.25rem;
}

/* line 67, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--titulo {
  color: #0045a2;
  font-size: 1.5rem;
  font-weight: 400;
}

/* line 72, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--subtitulo {
  font-size: 1rem;
  font-weight: 300;
  color: #00c2a8;
}

/* line 77, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--texto {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: .40px;
  margin: 0px 0px 0px 10px;
  padding: 2px 0px 2px 0px;
  margin: 0px 10px;
  line-height: 1.5em;
}

/* line 86, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--boton {
  font-size: 1rem;
  font-weight: 300;
  color: #0045a2;
  margin: 2px 0px 2px 10px;
}

/* line 91, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--boton:hover {
  text-decoration-line: none;
  color: #00c2a8;
}

/* line 95, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.tutorial__tarjeta--boton:visited {
  color: #003c8f;
}

/*Nota final*/
/* line 100, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__final {
  margin: 1em 0em auto;
  padding: auto;
  display: flex;
  flex-flow: row;
  align-items: flex-start;
}

/* line 106, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__final--imagen {
  width: 25rem;
  height: 18rem;
}

/* line 110, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__final--texto {
  margin: 0em 1em;
}

/* line 112, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.nota__final--texto a {
  text-decoration: none;
}

/* line 117, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.botonVerMas {
  margin: 20px 20px 30px 50px;
  padding: 10px 20px 10px 20px;
  background-color: #EEE;
  border-radius: 25px;
  border-color: #004aad;
  font-size: 18px;
  font-weight: 500;
  color: #004aad;
}

/* line 126, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.botonVerMas:hover {
  background: linear-gradient(#004aad, #EEE);
  border-radius: 25px;
  border-color: #EEE;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

/*CAMBIO A TABLET*/
@media all and (max-width: 768px) {
  /*estilos de noticias*/
  /* line 138, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .cuerpo__principal {
    min-height: 100px;
    margin: auto;
  }
  /*Nota principal*/
  /* line 143, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal {
    height: 50vh;
    margin: auto;
    padding: auto;
    background-image: url("../media/noticia1.jpeg");
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }
  /* line 151, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo {
    margin: 20em auto;
    padding: 1.5em;
    background-color: rgba(240, 240, 240, 0.9);
  }
  /* line 155, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo a {
    text-decoration: none;
  }
  /* line 160, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .separador__nota {
    height: 1em;
    margin: auto;
    border-bottom: 1px solid #00c2a8;
  }
  /*Notas Secundarias*/
  /* line 167, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias {
    margin: 1em 0em auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
  /* line 173, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--imagen {
    width: 20rem;
    height: 14rem;
  }
  /* line 177, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto {
    margin: 0em 1em;
  }
  /* line 179, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto a {
    text-decoration: none;
  }
  /*Tarjeta de Tutoriales*/
  /* line 185, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .tutorial__tarjeta {
    width: 15rem;
    height: auto;
    margin: 1em auto;
    padding: auto;
    position: relative;
    display: flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
  }
  /* line 199, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final {
    margin: 1em 0em auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
  /* line 205, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--imagen {
    width: 20rem;
    height: 14rem;
  }
  /* line 209, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--texto {
    margin: 0em 1em;
  }
  /* line 211, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__final--texto a {
    text-decoration: none;
  }
  /* line 216, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .botonVerMas {
    margin: 20px 20px 30px 50px;
    padding: 10px 20px 10px 20px;
    background-color: #EEE;
    border-radius: 25px;
    border-color: #004aad;
    font-size: 18px;
    font-weight: 500;
    color: #004aad;
  }
  /* line 226, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .botonVerMas:hover {
    margin: 20px 20px 30px 50px;
    padding: 10px 20px 10px 20px;
    background: linear-gradient(#004aad, #EEE);
    border-radius: 25px;
    border-color: #EEE;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
}

/*CAMBIO A CELULAR*/
@media all and (max-width: 576px) {
  /*estilos de noticias*/
  /* line 240, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .cuerpo__principal {
    min-height: 80px;
    margin: auto;
  }
  /*Nota principal*/
  /* line 245, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal {
    height: 50vh;
    margin: auto;
    padding: auto;
    background-image: url("../media/noticia1.jpeg");
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }
  /* line 253, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo {
    margin: 15em auto;
    padding: 1.5em;
    background-color: rgba(240, 240, 240, 0.9);
  }
  /* line 257, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .nota__principal .nota__parrafo a {
    text-decoration: none;
  }
  /* line 262, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .separador__nota {
    height: 1em;
    margin: auto;
    border-bottom: 1px solid #00c2a8;
  }
  /*Notas Secundarias*/
  /* line 269, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias {
    margin: 1em 0em auto;
    padding: auto;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }
  /* line 275, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--imagen {
    width: 20rem;
    height: 14rem;
  }
  /* line 279, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto {
    margin: 0em 1em;
  }
  /* line 281, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notas__secundarias--texto a {
    text-decoration: none;
  }
}

/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.no--list {
  list-style-type: none;
}

/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
.publicidad {
  background: url("../media/publicidad-lg.png") no-repeat;
  width: 70em;
  height: 3.125em;
  margin: 1em;
  flex-grow: 1;
}

@media all and (max-width: 768px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-md.png") no-repeat;
    width: 46.249em;
    height: 3.125em;
  }
}

@media all and (max-width: 576px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-sm.png") no-repeat;
    width: 35em;
    height: 3.125em;
  }
}

/*# sourceMappingURL=estilos.css.map */