/*Colores*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap");
/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f3ff;
}

/*Estilos de encabezado*/
/* line 11, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado {
  background: #0045a2;
  height: 5rem;
  width: 100%;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo {
  color: #f7f8fa;
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 5rem;
  padding-left: 12%;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

/* line 25, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoLogo.active, .encabezado .encabezadoLogo:hover {
  color: #00c2a8;
  transition: .5s;
}

/* line 30, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu {
  float: right;
  margin-right: 1.25rem;
}

/* line 33, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink {
  display: inline-block;
  line-height: 5rem;
  margin: 0 .31rem;
  color: #f7f8fa;
  font-size: 1em;
  font-weight: 500;
  padding: 7px 13px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out;
}

/* line 46, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.encabezado .encabezadoMenu .menuLink.active, .encabezado .encabezadoMenu .menuLink:hover {
  font-size: 1.25rem;
  font-weight: 500;
  color: #00c2a8;
}

/* line 54, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
#check {
  float: right;
  display: none;
}

/* line 58, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
label #menuMobile {
  font-size: 1.9rem;
  color: #f7f8fa;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}

@media all and (max-width: 1118px) {
  /* line 67, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    padding-left: 8%;
  }
}

@media (max-width: 944px) {
  /* line 73, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoLogo {
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 4%;
  }
  /* line 78, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    margin-right: 0rem;
  }
  /* line 80, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    font-size: 1rem;
    padding: 7px 5px;
  }
}

@media (max-width: 860px) {
  /* line 88, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label {
    float: right;
  }
  /* line 90, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  label #menuMobile {
    display: block;
    margin-right: 1rem;
  }
  /* line 95, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu {
    position: fixed;
    width: 100%;
    background: #0045a2;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  /* line 103, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .encabezado .encabezadoMenu .menuLink {
    display: block;
    margin: 3rem 0;
    line-height: 1.9rem;
    font-size: 1.25rem;
  }
  /* line 110, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #check:checked ~ .encabezadoMenu {
    left: 0;
    z-index: 1030;
  }
  /* line 114, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  #menuMobile:hover {
    color: #00c2a8;
    transition: .5s;
  }
}

/* line 119, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.boton {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid #0045a2;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  color: #0045a2;
  border-radius: 0.25rem;
  transition: color 0.25s ease-in-out,  background-color 0.25s ease-in-out;
}

/* line 136, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.boton:hover {
  background-color: #0045a2;
  font-size: 1rem;
  font-weight: 500;
  color: #00c2a8;
}

/*Estilos de Pie de pagina*/
/* line 144, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina {
  padding: 2.5rem 0;
  background-color: #ffffff;
}

/* line 147, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes {
  text-align: center;
  padding-bottom: 1.6rem;
}

/* line 150, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes .redesLink {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  text-align: center;
  color: #0045a2;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out;
}

/* line 160, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieRedes .redesLink:hover {
  font-size: 1.75rem;
  font-weight: 500;
  color: #00c2a8;
}

/* line 167, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

/* line 174, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu .pieLink {
  padding: 0 10px;
  color: #0045a2;
  text-decoration: none;
  opacity: 0.8;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out;
}

/* line 181, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .pieMenu .pieLink.active, .piePagina .pieMenu .pieLink:hover {
  font-size: 1.25rem;
  font-weight: 500;
  color: #00c2a8;
}

/* line 188, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.piePagina .copyright {
  margin: 1rem 0.5rem;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* line 196, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.modalContenido {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #e3e3e3;
  background-clip: padding-box;
  border: 1px solid rgba(247, 248, 250, 0.5);
  border-radius: .5rem;
  outline: 0;
}

/* line 207, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.modalContenido .modalEncabezado {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  background: #0045a2;
  border-radius: .5rem .5rem 0 0;
}

/* line 214, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.modalContenido .modalEncabezado .modalTitulo {
  color: #f7f8fa;
  margin-bottom: 0;
  line-height: 1.5;
}

/* line 220, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.modalContenido .modalCuerpo {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

/* line 225, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.modalContenido .modalPie {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

@media all and (min-width: 1119px) {
  /* line 235, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noDesktop {
    display: none;
  }
}

@media all and (max-width: 1118px) {
  /* line 240, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noLaptop {
    display: none;
  }
}

@media all and (max-width: 768px) {
  /* line 245, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noTablet {
    display: none;
  }
  /* line 248, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .tablet {
    display: block;
  }
}

@media all and (max-width: 576px) {
  /* line 253, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .piePagina {
    padding: 1.5rem 0;
  }
  /* line 255, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .piePagina .pieRedes {
    padding-bottom: 0;
  }
  /* line 259, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .copyright {
    margin: .5rem 0.5rem;
  }
  /* line 262, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
  .noMobile {
    display: none;
  }
}

/*especiales*/
/* line 267, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.marginTop {
  margin-top: 7rem;
}

/* line 270, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_main.scss */
.marginBottom {
  margin-bottom: 2rem;
}

/*FUENTES DEL SITIO*/
/* line 6, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloPrincipal {
  /*Para los titulos principales*/
  color: #0045a2;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: .75rem;
}

/* line 11, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloPrincipal:hover {
  /*Para los titulos principales*/
  color: #00c2a8;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloSecundario {
  /*Para los titulos secundarios*/
  color: #0045a2;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: .50rem;
}

/* line 20, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.tituloSecundario:hover {
  /*Para los titulos secundarios*/
  color: #00c2a8;
}

/* line 24, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.texto {
  /*Para texto en general*/
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: .40px;
  margin: 0px 0px 15px 0px;
  line-height: 1.5em;
}

/* line 31, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.botonLeer {
  /*Para los Botones "leer mas"*/
  font-size: 1em;
  font-weight: 300;
  color: #0045a2;
  margin: 0;
}

/* line 36, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
.botonLeer:hover {
  color: #00c2a8;
}

@media all and (max-width: 1200px) {
  /* line 41, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    margin: 0px 0px 5px 0px;
  }
}

@media all and (max-width: 1118px) {
  /* line 45, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloPrincipal {
    /*Para los titulos principales*/
    font-size: 1.75rem;
    margin-bottom: .65rem;
  }
  /* line 49, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloSecundario {
    /*Para los titulos secundarios*/
    font-size: 1.55rem;
    margin-bottom: .40rem;
  }
  /* line 53, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .botonLeer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
  }
}

@media all and (max-width: 768px) {
  /* line 60, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 5px 0px;
    padding: 2px 0px 2px 0px;
  }
}

@media all and (max-width: 576px) {
  /* line 69, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloPrincipal {
    /*Para los titulos principales*/
    font-size: 1.35rem;
    margin-bottom: .65rem;
  }
  /* line 73, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .tituloSecundario {
    /*Para los titulos secundarios*/
    font-size: 1.15rem;
    margin-bottom: .40rem;
  }
  /* line 77, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .texto {
    /*Para texto en general*/
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .40px;
    margin: 0px 0px 5px 0px;
    padding: 2px 0px 2px 0px;
  }
  /* line 84, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_fuentes.scss */
  .botonLeer {
    /*Para los Botones "leer mas"*/
    font-size: 1em;
    font-weight: 300;
  }
}

/*Nota principal*/
/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.50rem;
}

/* line 12, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal::before, .notaPrincipal ::after {
  box-sizing: border-box;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .imagenPrincipal {
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  border-radius: 0.5rem;
}

/* line 22, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .notaParrafo {
  background-color: rgba(255, 255, 255, 0.7);
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* line 28, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .notaParrafo a {
  text-decoration: none;
}

/* line 30, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaPrincipal .textoPrincipal {
  /*Para texto en general*/
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .40px;
  margin: 0px 0px 15px 0px;
  line-height: 1.5em;
}

/*Notas Secundarias*/
/* line 39, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria {
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.50rem;
}

/* line 49, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria::before, .notaSecundaria ::after {
  box-sizing: border-box;
}

/* line 52, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria .imagenSecundaria {
  flex-shrink: 0;
  width: 100%;
  vertical-align: middle;
  border-style: none;
  border-radius: 0.50rem 0 0 0.50rem;
}

/* line 59, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria .notaParrafo {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

/* line 63, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
.notaSecundaria .notaParrafo a {
  text-decoration: none;
}

/*CAMBIO A LAPTOP*/
@media all and (min-width: 1200px) {
  /* line 69, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaPrincipal a {
    max-height: 270px;
  }
}

@media all and (max-width: 1200px) {
  /* line 72, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaPrincipal .imagenPrincipal {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  /* line 73, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaSecundaria .notaParrafo {
    padding: .15rem 1rem .15rem 1rem;
  }
}

/*CAMBIO A TABLET*/
@media all and (max-width: 768px) {
  /* line 78, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaSecundaria {
    flex-direction: column;
  }
  /* line 80, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_index.scss */
  .notaSecundaria .imagenSecundaria {
    border-radius: 0.50rem 0.50rem 0 0;
  }
}

/*CAMBIO A CELULAR*/
/*tutorial de Tutoriales*/
/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  pointer-events: auto;
}

/* line 15, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialCabezera {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #0045a2;
  border-radius: .5rem .5rem 0 0;
}

/* line 21, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialCuerpo {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: .75rem 1.25rem;
}

/* line 27, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialTitulo {
  font-size: 1.5rem;
  font-weight: 500;
  color: #f0f3ff;
  text-decoration: none;
  margin: 0;
}

/* line 34, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialLista {
  display: flex;
  flex-direction: row;
}

/* line 37, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialLista .tutorialItem {
  display: inline-block;
  line-height: 1rem;
  color: #0045a2;
  font-size: 1em;
  font-weight: 500;
  margin: auto;
  padding: 7px 13px;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out;
}

/* line 50, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .tutorialLista .tutorialItem.active, .tutoriales .tutorialLista .tutorialItem:hover {
  color: #00c2a8;
}

/* line 55, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .listaIndex {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
}

/* line 59, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .listaIndex .itemIndex {
  display: inline-block;
  line-height: 1rem;
  color: #0045a2;
  font-size: 1em;
  font-weight: 500;
  padding: 7px 13px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  transition: color 0.15s ease-in-out;
}

/* line 72, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutoriales .listaIndex .itemIndex.active, .tutoriales .listaIndex .itemIndex:hover {
  color: #00c2a8;
}

/* line 78, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.ancla:before {
  display: block;
  content: " ";
  margin-top: -120px;
  height: 120px;
  visibility: hidden;
}

/* line 85, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialCabSecundaria {
  max-height: 60px;
  padding: 1rem 1.25rem;
  margin-bottom: 0;
  background-color: #e3e3e3;
  border-radius: .5rem .5rem 0 0;
}

/* line 92, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialTitSecundario {
  font-size: 1.25rem;
  font-weight: 500;
  color: #0045a2;
  margin: 0;
}

/* line 98, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

/* line 100, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcTarjeta {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-bottom: none;
  border-radius: .25rem .25rem 0 0;
}

/* line 111, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcCabezal1 {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #f0f3ff;
  border-bottom: 1px solid #0045a2;
  border-radius: 0.35rem 0.35rem 0 0;
}

/* line 118, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcCabezal {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #f0f3ff;
  border-bottom: 1px solid #0045a2;
}

/* line 124, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcCabezalU {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #f0f3ff;
  border-bottom: none;
  border-radius: 0 0 0.35rem 0.35rem;
}

/* line 131, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcTitulo {
  display: inline-block;
  color: #0045a2;
  text-align: left;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  text-decoration: none;
}

/* line 148, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcTitulo:hover {
  color: #00c2a8;
}

/* line 152, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
.tutorialAcordion .tutorialAcCuerpo {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

@media all and (max-width: 520px) {
  /* line 160, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_tutoriales.scss */
  .tutoriales .tutorialLista {
    flex-direction: column;
  }
}

/* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
.publicidad {
  background: url("../media/publicidad-lg.png") no-repeat;
  width: 70em;
  height: 3.125em;
  margin: 1em;
  flex-grow: 1;
}

@media all and (max-width: 768px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-md.png") no-repeat;
    width: 46.249em;
    height: 3.125em;
  }
}

@media all and (max-width: 576px) {
  /* line 2, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_blog.scss */
  .publicidad {
    background: url("../media/publicidad-sm.png") no-repeat;
    width: 35em;
    height: 3.125em;
  }
}

/* line 1, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_contacto.scss */
.contactoEncabezado {
  color: #0045a2;
  font-size: 27px;
  padding: 10px;
}

/* line 7, ../CAMADA_18035 HTML_CSS/repo_entregas/scss/_contacto.scss */
.contactoIcono {
  font-size: 35px;
  color: #0045a2;
}

/*# sourceMappingURL=estilos.css.map */