$width: 70em;
.publicidad{
	background: url("../media/publicidad-lg.png") no-repeat;
	width: $width;
	height: 3.125em;
	margin: 1em;
	flex-grow: 1;
	@media all and (max-width: 768px){
		background: url("../media/publicidad-md.png") no-repeat;
		width: $width*0.6607;
		height: 3.125em;
	}
	@media all and (max-width: 576px){
		background: url("../media/publicidad-sm.png") no-repeat;
		width: $width/2;
		height: 3.125em;
	}
}