@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800&display=swap');
/*FUENTES DEL SITIO*/
@mixin fTitulos{
	color: $fontColor;
	}
.tituloPrincipal{/*Para los titulos principales*/
	@include fTitulos;
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: .75rem;
	&:hover{/*Para los titulos principales*/
	color: $fontColorH;
	}
}
.tituloSecundario{/*Para los titulos secundarios*/
	@include fTitulos;
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: .50rem;
	&:hover{/*Para los titulos secundarios*/
	color: $fontColorH;
	}
}
.texto{/*Para texto en general*/
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: .40px;
	margin: 0px 0px 15px 0px;
	line-height: 1.5em;
}
.botonLeer{/*Para los Botones "leer mas"*/
	font-size: 1em;
	font-weight: 300;
	color:$fontColor;
	margin:0;
	&:hover{
	color:$fontColorH;
	}
}
@media all and (max-width: 1118px){
	.tituloPrincipal{/*Para los titulos principales*/
	font-size: 1.75rem;
	margin-bottom: .65rem;
	}
	.tituloSecundario{/*Para los titulos secundarios*/
		font-size: 1.25rem;
		margin-bottom: .40rem;
	}
	.texto{/*Para texto en general*/
		margin: 0px 0px 10px 0px;
		line-height: 1.25em;
	}
	.botonLeer{/*Para los Botones "leer mas"*/
		font-size: 1em;
		font-weight: 300;
		
	}
}
@media all and (max-width: 768px){
	.titulo__principal{/*Para los titulos principales*/
		@include fTitulos;
		font-size: 1.8rem;
		font-weight: 500;
	}
	.titulo__secundario{/*Para los titulos secundarios*/
		@include fTitulos;
		font-size: 1.2rem;
		font-weight: 400;
	}
	.texto{/*Para texto en general*/
		font-size: 1.2rem;
		font-weight: 300;
		letter-spacing: .40px;
		margin: 0px 0px 5px 0px;
		padding: 2px 0px 2px 0px;
		line-height: 1.5em;
	}
	.boton--leer{/*Para los Botones "leer mas"*/
		font-size: 1em;
		font-weight: 300;
		color:$fontColor;
		margin: 2px 0px 2px 10px;
		&:hover{
		text-decoration-line: none;
		color: $fontColorH;
		}
		&:visited{
		color:$fontColorV;
		}
	}
}
@media all and (max-width: 576px){
	.titulo__principal{/*Para los titulos principales*/
		@include fTitulos;
		font-size: 1.8rem;
		font-weight: 500;
		&:hover{/*Para los titulos principales*/
		color: $fontColorH;
		}
	}
	.titulo__secundario{/*Para los titulos secundarios*/
		@include fTitulos;
		font-size: 1.2rem;
		font-weight: 400;
		&:hover{/*Para los titulos secundarios*/
		color: $fontColorH;
		}
	}
	.texto{/*Para texto en general*/
		font-size: 1.2rem;
		font-weight: 300;
		letter-spacing: .40px;
		margin: 0px 0px 0px 10px;
		padding: 2px 0px 2px 0px;
		margin: 0px 10px;
		line-height: 1.5em;
	}
	.boton--leer{/*Para los Botones "leer mas"*/
		font-size: 1em;
		font-weight: 300;
		color:$fontColor;
		margin: 2px 0px 2px 10px;
		&:hover{
		text-decoration-line: none;
		color: $fontColorH;
		}
		&:visited{
		color:$fontColorV;
		}
	}
}