*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: $background;
}
/*Estilos de encabezado*/
.encabezado{
  background: $menuBack;
  height: 5rem;
  width: 100%;
  	.encabezadoLogo{
		color: $fontMenu;
		font-size: 2.2rem;
		font-weight: 800;
		line-height: 5rem;
		padding-left: 12%;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
		transition: all 0.2s ease-in-out;
		&.active,&:hover{
			color: $fontColorH;
			transition: .5s;
		}
	}
	.encabezadoMenu{
		float: right;
		margin-right: 1.25rem;
		.menuLink{
			display: inline-block;
			line-height: 5rem;
			margin: 0 .31rem;
			color: $fontMenu;
			font-size: 1em;
			font-weight: 500;
			padding: 7px 13px;
			text-transform: uppercase;
			text-decoration: none;
			list-style: none;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out;
			&.active,&:hover{
				font-size: 1.25rem;
				font-weight: 500;
				color: $fontColorH;
			}
		}
	}
}
#check{
	float: right;
	display: none;
}
label #menuMobile{
	font-size: 1.9rem;
	color: $fontMenu;
	line-height: 5rem;
	margin-right: 2.5rem;
	cursor: pointer;
	display: none;
}
@media all and (max-width: 1118px){
	.encabezado .encabezadoLogo{
		padding-left: 8%;
	}
}
@media (max-width: 944px){
  .encabezado{
  	& .encabezadoLogo{
    font-size: 1.8rem;
	font-weight: 800;
	padding-left: 4%;
  	}
  	.encabezadoMenu{
  	margin-right: 0rem;
  		.menuLink{
	    font-size: 1rem;
	    padding: 7px 5px;
	  }
  	}
  }
}
@media (max-width: 860px){
	label{
	float: right;
	 #menuMobile{
  	display: block;
  	margin-right: 1rem;
  		}
	} 
  .encabezado .encabezadoMenu{
    position: fixed;
    width: 100%;
    background: $menuBack;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
    & .menuLink{
    display: block;
    margin: 3rem 0;
    line-height: 1.9rem;
    font-size: 1.25rem;
 	}
  }
  #check:checked ~ .encabezadoMenu{
    left: 0;
    z-index: 1030;
    }
  #menuMobile:hover{
		color: $fontColorH;
		transition: .5s;
		}
}
.boton{
	display: inline-block;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	background-color: transparent;
	border: 1px solid $fontColor;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	color: $fontColor;
	border-radius: 0.25rem;
	transition: color 0.25s ease-in-out, 
				background-color 0.25s ease-in-out;
	&:hover{
	background-color:$fontColor;
	font-size: 1rem;
	font-weight: 500;
	color: $fontColorH;
	}
}
/*Estilos de Pie de pagina*/
.piePagina {
	padding:2.5rem 0;
	background-color:#ffffff;
	.pieRedes {
		text-align:center;
		padding-bottom:1.6rem;
		.redesLink{
			font-size:1.5rem;
			width:2.5rem;
			height:2.5rem;
			line-height:2.5rem;
			display:inline-block;
			text-align:center;
			color:$fontColor;
			box-sizing: border-box;
			transition: color 0.15s ease-in-out;
			&:hover{
			font-size: 1.75rem;
			font-weight: 500;
			color: $fontColorH;
			}
		}
	}
	.pieMenu {
		padding:0;
		list-style:none;
		text-align:center;
		font-size:18px;
		line-height:1.6;
		margin-bottom:0;
		.pieLink {
		padding:0 10px;
		color:$fontColor;
		text-decoration:none;
		opacity:0.8;
		box-sizing: border-box;
		transition: color 0.15s ease-in-out;
		&.active,&:hover{
			font-size: 1.25rem;
			font-weight: 500;
			color: $fontColorH;
			}
		}	
	}
	.copyright {
	margin:1rem 0.5rem;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
	}
}
.modalContenido{
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: $backgroundTarjetas;
	background-clip: padding-box;
	border:1px solid rgba(247, 248, 250,0.5);
	border-radius: .5rem;
	outline: 0;
	.modalEncabezado{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 1rem 1rem;
		background: $menuBack;
		border-radius:.5rem .5rem 0 0;
		.modalTitulo{
			color:$fontMenu;
			margin-bottom: 0;
			line-height: 1.5;
		}
	}
	.modalCuerpo{
		position: relative;
		flex: 1 1 auto;
		padding: 1rem;
	}
	.modalPie{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
		padding: 0 1rem 1rem 1rem;
		border-radius:0 0 0.5rem 0.5rem;
	}
}
@media all and (min-width: 1119px){
	.noDesktop{
		display: none;
	}
}
@media all and (max-width: 1118px){
	.noLaptop{
		display: none;
	}
}
@media all and (max-width: 768px){
	.noTablet{
		display: none;
	}
	.tablet{
		display: block;
	}
}
@media all and (max-width: 576px){
	.piePagina {
		padding:1.5rem 0;
		.pieRedes {
			padding-bottom:0;
		}
	}
	.copyright {
	margin:.5rem 0.5rem;
}
	.noMobile{
		display: none;
	}
}
/*especiales*/
$width: 70em;
.publicidad{
	background: url("../media/publicidad-lg.png") no-repeat;
	width: $width;
	height: 3.125em;
	margin: 1em;
	flex-grow: 1;
	@media all and (max-width: 768px){
		background: url("../media/publicidad-md.png") no-repeat;
		width: $width*0.6607;
		height: 3.125em;
	}
	@media all and (max-width: 576px){
		background: url("../media/publicidad-sm.png") no-repeat;
		width: $width/2;
		height: 3.125em;
	}
}
.marginTop{
	margin-top: 7rem;
}
.marginBottom{
	margin-bottom: 2rem;
}