*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: $background;
}
/*Estilos de encabezado*/
.encabezado{
  background: $menuBack;
  height: 5rem;
  width: 100%;
  	.encabezadoLogo{
	color: $background;
	font-size: 2.2rem;
	font-weight: 800;
	line-height: 5rem;
	padding-left: 12%;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
		&.active,&:hover{
					color: $fontColorH;
					transition: .5s;
					}
	}
	.encabezadoMenu{
	float: right;
	margin-right: 1.25rem;
		.menuLink{
		display: inline-block;
		line-height: 5rem;
		margin: 0 .31rem;
		color: $background;
		font-size: 1em;
		font-weight: 500;
		padding: 7px 13px;
		text-transform: uppercase;
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
		-webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		&.active,&:hover{
					color: $fontColorH;
					transition: .5s;
					}
		}
	}
}
#check{
	float: right;
	display: none;
}
label #menuMobile{
  font-size: 1.9rem;
  color: $background;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
  display: none;
}
@media all and (max-width: 1118px){
	.encabezado .encabezadoLogo{
		padding-left: 8%;
	}
}
@media (max-width: 944px){
  .encabezado{
  	& .encabezadoLogo{
    font-size: 1.8rem;
	font-weight: 800;
	padding-left: 4%;
  	}
  	.encabezadoMenu{
  	margin-right: 0rem;
  		.menuLink{
	    font-size: 1rem;
	    padding: 7px 5px;
	  }
  	}
  }
}
@media (max-width: 860px){
	label{
	float: right;
	 #menuMobile{
  	display: block;
  		}
	} 
  .encabezado .encabezadoMenu{
    position: fixed;
    width: 100%;
    background: $menuBack;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
    & .menuLink{
    display: block;
    margin: 3rem 0;
    line-height: 1.9rem;
    font-size: 1.25rem;
 	}
  }
  #check:checked ~ .encabezadoMenu{
    left: 0;
    &.active,&:hover{
		color: $fontColorH;
		transition: .5s;
		}
    }
}
/*Estilos de Pie de pagina*/
.pie__pagina{
	height: 4vh;
	min-height: 50px;
	padding: 0px 20px 2px 20px;
	background-color: #EEE;
	border-top: 2px solid #bdb5b5;
	@media all and (max-width: 576px){
			height: 8vh;
			margin: auto;
			padding: auto;
			background-color: #EEE;
	}
}

.backToTop{
  background-color: $fontColor;
  width: 50px;
  height: 50px;
  padding: auto;
  text-align: center;
  border-radius: 4px;
	&:hover {
	  background-color: $fontColorH;
	}
	& .top{
		color: #fff;
		font-size: 40px;
		margin: 5px auto;
	}
	@media all and (max-width: 576px){
		background-color: $fontColor;
		width: 35px;
		height: 35px;
		padding: auto;
		text-align: center;
		border-radius: 2px;
		& .top{
		color: #fff;
		font-size: 25px;
		margin: 5px auto;
		}
	}
}
@media all and (max-width: 768px){
	.noTab{display: none;}
}
@media all and (max-width: 576px){
	.noMobile{display: none;}
}